<%= render "shared/home_header" %>
<div id="left" class="home_content">
<div class="timesheet">
<div class="preferences">
	<h2><%= t'general.my_firm' %></h2>
  			<%= form_for current_firm, :url => firm_update_path, :html => {:method => :put, :multipart => true }  do |firm| %>
  			
  			<div class="form-field">
		    <%= firm.label :name %>
		    <%= firm.text_field :name, :class => "required text-input", :AUTOCOMPLETE => "OFF" %>
    		</div>
  			<div class="form-field">
    		<%= firm.label :phone %>
    		<%= firm.text_field :phone, :class => "text-input", :AUTOCOMPLETE => "OFF" %>
    		</div>
  			<div class="form-field">
		    <%= firm.label :Address %>
		    <%= firm.text_area :address, :class => "text-input", :AUTOCOMPLETE => "OFF" %>
		    </div>
  			<div class="form-field">
		    <%= firm.label :language %>
		    <%= firm.select :language,  language,
            {},  :class => "account_update_select" %>
		    </div>
  			<div class="form-field">
		    <%= firm.label :currency %>
		    <%= firm.select :currency, currency , {},  :class => "account_update_select"%>
		    </div>
		    <div class="form-field">
    		<%= firm.label :bank_account %>
    		<%= firm.text_field :bank_account, :class => "text-input", :AUTOCOMPLETE => "OFF" %>
    		</div>
    		<div class="form-field">
    		<%= firm.label :vat_number %>
    		<%= firm.text_field :vat_number, :class => "text-input", :AUTOCOMPLETE => "OFF" %>
    		</div>
  			<div class="form-field">
            <%= firm.label 'Tax (VAT) %' %>
            <%= firm.text_field :tax, :class => "text-input", :AUTOCOMPLETE => "OFF"%>
            </div>
  			<div class="form-field">
		    <%= firm.label :time_zone %>
		    <%= firm.time_zone_select :time_zone,  nil, {}, {:class => "account_update_select"}%>
		    </div>
  			<div class="form-field">
  				<%= firm.label :time_format %>
  				<%= firm.select :time_format, options_for_select([
                    [(t'times.hour.one').capitalize + ':' + (t'times.minute.more'), 1], [(t'times.hour.one').capitalize + '.' + (t'economic.decimal'), 2]], current_firm.time_format), {}, {:class => "account_update_select"}  %></div>
			<div class="form-field">
			    <%= firm.label :date_format %>
			    <%= firm.select :date_format, options_for_select([[(t'datetime.prompts.day') + '.' + (t'datetime.prompts.month') + '.' + (t'datetime.prompts.year'), 1], [(t'datetime.prompts.month') + '/' + (t'datetime.prompts.day') + '/' + (t'datetime.prompts.year'), 2]], current_firm.date_format), {}, {:class => "account_update_select"} %>
		    </div>	
			<div class="form-field">
			    <%= firm.label :clock_format %>
		<%= firm.select :clock_format, options_for_select([['24 ' + (t'times.hour.more'), 1], ['12 ' + (t'times.hour.more'), 2]], current_firm.clock_format),{},:class => "account_update_select" %>	
		    </div>	
		    <hr>
            <div class="form-field"><%= t'general.for_invoice_emails' %></div>
            <div class="form-field">
                <%= firm.label :invoice_email %>
                <%= firm.text_field :invoice_email, :class => "text-input" %>  
            </div>
            <div class="form-field">
                <%= firm.label :invoice_email_subject %>
                <%= firm.text_field :invoice_email_subject, :class => "text-input" %>    
            </div>
            <div class="form-field">
                <%= firm.label :invoice_email_message %>
                <%= firm.text_area :invoice_email_message, :class => "text-input-area" %>
            </div>
            <div class="form-field">
                <%= firm.label :on_invoice_message %>
                <%= firm.text_area :on_invoice_message, :class => "text-input-area" %>
            </div>
  			<div class="form-field">
		    <%= firm.label :logo %>
		     <%= firm.file_field :logo %>		    
		   </div>
		   <!-- 
		  	<div class="form-field">
		    <%= firm.label :background %>
		    <%= firm.text_field :background, :class => "form-input background_style", :AUTOCOMPLETE => "OFF"%>
		    
		   	<div class="background_style_color"></div>
		    </div>
		  	<div class="form-field">
		    <%= firm.label :Text %>
		    <%= firm.text_field :color, :class => "form-input text_style", :AUTOCOMPLETE => "OFF"%>
		    <div class="text_style_color"></div>
		    </div> -->
		    <div class="form-field">
  <%= firm.submit (t'save'), :class => "submit" %>
  </div>
<% end %>
</div>
</div>
</div>