<%= form_for(@invoice, remote: true,  url: create_slow_sending_path(@invoice)) do |f| %>
<ul>
 	<li><%= f.label :email %><%= f.text_field :mail_to, value: @invoice.customer.email, :class => "required email", :minlength => "2"%></li>
 	<% if @invoice.status == 3 or @invoice.status == 4 %>
 		<li><%= f.label :subject %><%= f.text_field :mail_subject, value: "@invoice.firm.invoice_email_subject" %></li>
	 	<li><%= f.label :content %><%= f.text_area :mail_content, value: "@invoice.firm.invoice_email_message " %></li>
 	<% else %>
	 	<li><%= f.label :subject %><%= f.text_field :mail_subject, value: @invoice.firm.invoice_email_subject %></li>
	 	<li><%= f.label :content %><%= f.text_area :mail_content, value: @invoice.firm.invoice_email_message  %></li>
 	<% end %>
 	<li><%= f.label :due %><%= f.text_field :due, :value => date_format(@invoice.due), :class => "invoice_due date", :id => "invoice_due_" %></li>
 	<li><%= f.label :attachment %></br>
 		<div class="file_image_container"></div><%= @invoice.firm.subdomain %>_<%= @invoice.number ? @invoice.number : InvoiceSender.give_invoice_number(@invoice,Invoice.last_with_number(current_firm)) %>.pdf</li>

<li><%= f.submit (t'send'), :class => "submit"%></li>

</ul>
<% end %>