<ul class="roster_tasks">	
  <% @tasks_overdue_and_to_day.each do |todo|%>

  <li id="roster_todo_<%=todo.id%>">
  	<div class="row_task <% if todo.overdue %>red<% else %>green<% end %>" >
  		<%= form_for todo, :remote => true, :html => {:id => "roster_edit_done_todo_#{todo.id}"} do |f| %>
  		<%= f.check_box :completed, :class => "roster_done_box", :id => todo.id %>
	  	<% end %>
	  	<% if todo.project %>
	  	<%= link_to todo.name, project_path(todo.project).to_s + "/#tabs-2" %>
	  	<% else %>
	  	<%= link_to todo.name, customer_path(todo.customer).to_s + "/#tabs-2" %>
	  	<% end %>
  	</div> 
  </li>
 
  <%end%>
</ul>