$(".flash_notice").empty();
<% if @log.nil? %>
var form	 = $(".new_log")
var employee = form.find("#logEmployeeId")	
<% else %>
var form	 = $("#log_update_<%= j(@log.id.to_s) %>_form")
var employee = $("#logEmployeeId<%= j(@log.id.to_s) %>")
<% end %>  
	
  employee.empty();
  <% if @employees.is_a? String %>
    employee.append("<option value=''>" + "<%= j(@employees) %>" + "</option>");
  <% else %>
  <% if @employees.empty? %>
  employee.append("<option value=''>No employees</option>");
  <% else %>
   employee.append("<option value=''>None</option>");
    <% @employees.each do |employees| %>
    employee.append("<option value='" + "<%= j(employees.id.to_s) %>" + "'>" + "<%= j(employees.name) %>" + "</option>");
    <% end %>
    <% end %>
  <% end %>
  form.find(".searchableS").trigger("liszt:updated")
  form.find(".searchableSE").trigger("liszt:updated")
$(".spinning").hide();