$(".flash_notice").empty();
<% if @log.nil? %>
var form_selects = ".searchableS"
var form	 = $(".new_log")
var customer = form.find("#logCustomerId")
var employee = form.find("#logEmployeeId")
var todo 	 = form.find("#logTodoId")
	
	
<% else %>
var form_selects = ".searchableSE"
var form	 = $("#log_update_<%= j(@log.id.to_s) %>_form")
var customer = form.find("#logCustomerId<%= j(@log.id.to_s)%>")
var employee = form.find("#logEmployeeId<%= j(@log.id.to_s) %>")
var todo 	 = form.find("#logTodoId<%= j(@log.id.to_s) %>")
<% end %>  

  todo.empty();
  customer.empty();
  employee.empty();
  <% if !@project.nil? %>
      <% if !@project.customer.nil? %>  
          customer.append("<option value='" + "<%= j(@project.customer.id.to_s) %>" + "'>" + "<%= j(@project.customer.name) %>" + "</option>");
            <% if @project.customer.employees.empty? %>
                employee.append("<option value=''>No employees</option>");
            <% else %>
              employee.append("<option value=''>Select a employee</option>");
              <% @project.customer.employees.each do |employees| %>
              employee.append("<option value='" + "<%= j(employees.id.to_s) %>" + "'>" + "<%= j(employees.name) %>" + "</option>");
            <% end %>
       <% end %>
  <% else %>
	 customer.append("<option value=''>" + "None" + "</option>");
	 employee.append("<option value=''>Select a customer</option>");
		<% all_customers.each do |customer| %>
	   		customer.append("<option value='" + "<%= j(customer.id.to_s) %>" + "'>" + "<%= j(customer.name) %>" + "</option>");
	 	<% end %>
 <% end %>  
      <% if @todos.is_a? String %>
        todo.append("<option value='' SELECTED>" + "<%= j(@todos) %>" + "</option>");
      <% else %>
      	<% if @todos.empty? %>
			  todo.append("<option value='' SELECTED>No tasks</option>");
		<% else %>
        	todo.append("<option value='' SELECTED >none</option>");
        	<% @todos.each do |todo| %>
          	todo.append("<option value='" + "<%= j(todo.id.to_s) %>" + "'>" + "<%= j(todo.name) %>" + "</option>");
        <% end %>
      	<% end %>
      <% end %>
  <% else %>
    todo.append("<option value=''>Select a project</option>");
    customer.append("<option value=''>" + "None" + "</option>");
    <% all_customers.each do |customer| %>
      customer.append("<option value='" + "<%= j(customer.id.to_s) %>" + "'>" + "<%= j(customer.name) %>" + "</option>");
       <% end %>
     employee.append("<option value=''>Select a customer</option>");  
  <% end %>
  
  form.find(form_selects).trigger("chosen:updated");
 
$(".spinning").hide();