<% content_for(:head) do %>
<%= javascript_include_tag "tabs.js" %>
<% end %>
<div id="left">
	<div class="inner">
<div class="show-view">
<div class="list_header orange_bgr">
	<%= link_to "Back", users_path, :class => "back_button" %>
	
		<%=h @klass.name %>
</div>
<div id="description" class="user_description">
  <div class="show_user_text">
	 <%=h @klass.name %><br/>
	Phone:
	 <%=h @klass.phone %><br/>
	Email:
	<%=h @klass.email %><br/>
	</div>
	
		     <div class="show_user_image">
	<div class="avatar_show_page">	     	
<%= image(@klass, "image100") %>
<p><%= link_to "Change image", "", :class => "show_avatar_upload" %></p>  
  </div>
<div class="avatar_upload" style="display:none">
	<%= form_for(@klass, :html => { :multipart => true }) do |f| %>
	<p id="firm_logo"><%= f.file_field :avatar%></p>  
	<%= f.submit "Upload", :class => "submit"%>  <%= link_to "Cancel", "", :class => "hide_avatar_upload" %>
		     <% end %>
		     </div>
</div>
</div>

  <nav id="sub_tabs">
    <ul>
    <li class=""><a href="#tabs-1" data-url="/tabs/tabs_todos/<%= @klass.id %>/<%= @klass.class %>">Tasks</a></li>
    <li class=""><a href="#tabs-2" data-url="/tabs/tabs_logs/<%= @klass.id %>/<%= @klass.class %>">Logs</a></li>
    </ul>
    <span class="nav_line"></span>
    </nav>
   <div class="boxes">
  <div class="tab_box" id="tabs-1"></div>
  <div class="tab_box hide" id="tabs-2"></div>
  
</div>
</div>
</div>
</div>
