<li class="tab_list" id="customer_<%= customer.id.to_s %>"> 

<div class="tab_list_text">
  <%= link_to customer.name, customer_path(customer) %>
  </div>

    <%= link_to(customer_path(customer), :confirm => "Are you sure? This will destroy all employees at this customer", :title => "Delete customer", :method => :delete, :remote => true) do%>
  <span class='button'>Delete</span>
    <% end %>

 <span class='open_customer_update button edit' id="customer_update" data-id="<%= customer.id %>" data-object="customer" title="Edit customer">Edit</span>
  <div class="dialog_form" id="customer_update_<%= customer.id %>_form" title="Update customer" style="display:none;"></div>
    <%= mail_to customer.email,"Email",:title => "Send a email", :class => "button"%>
</li>



