
<nav id="html_tabs" class="orange_bgr">
  <div class="name_and_back_button">
    <%= @klass.name %> <a class='open_customer_update  edit_text' id="customer_update" data-id="<%= @klass.id %>" data-object="customer" title="Edit customer">edit</a>
     <div class="dialog_form" id="customer_update_<%= @klass.id %>_form" title="Update customer" style="display:none;"></div>
  </div>

  <ul>
    <li class=""><a href="#tabs-1" data-url="/tabs/tabs_state/<%= @klass.id %>/<%= @klass.class %>">Home</a></li>
    <li class=""><a href="#tabs-2" data-url="/tabs/tabs_todos/<%= @klass.id %>/<%= @klass.class %>">Tasks</a></li>
    <li class=""><a href="#tabs-3" data-url="/tabs/tabs_logs/<%= @klass.id %>/<%= @klass.class %>">Logs</a></li>
    <li class=""><a href="#tabs-4" data-url="/tabs/tabs_projects/<%= @klass.id %>/<%= @klass.class %>">Projects</a></li>
    <li class=""><a href="#tabs-5" data-url="/tabs/tabs_employees/<%= @klass.id %>/<%= @klass.class %>">Employees</a></li>
    <!-- <li class=""><a href="#tabs-5" data-url="/tabs/statistics/<%= @klass.id %>/<%= @klass.class %>">Statistics</a></li> -->
  </ul>
 
</nav>

<div class="boxes">	
<div class="tab_box has_url" id="tabs-1"></div> 
<div class="tab_box hide has_url" id="tabs-2"></div>	
<div class="tab_box hide has_url" id="tabs-3"></div>
<div class="tab_box hide has_url" id="tabs-4"></div>
<div class="tab_box hide has_url" id="tabs-5"></div>
 <!-- <div class="tab_box hide has_url" id="tabs-5"></div> -->
</div>