	
<div id="left">
	<div class="inner">
		<div class="index-view">
	<div class="list_header orange_bgr">
		
		<a id="dialog_project" data-object="project">Add new project</a>
		<%= link_to "Archived projects", archive_path, :id => "archive"%>
		
		<div id="dialog_project_form" class="dialog_form" title="Create new project" style="display:none;">
      <%= form_for([@firm, @project], :url =>  create_index_path) do |p| %>
    
      <li><%= p.label :name %><%= p.text_field :name, :class => "required"%></li>
      <li><%= p.label :description %><%= p.text_field :description %></li>
      <li><%= p.label :due %><%= p.text_field :due, :value => Time.now.strftime("%Y-%m-%d"), :id => "dialog_project_date" %></li>
      <li><%= p.label :customer_id %><%= p.select(:customer_id, @firm.customers.map {|customer| [customer.name, customer.id]}, :prompt => "Select customer")%></li>
      <li><%= p.submit 'Save', :class => 'submit' %></li>
      <% end %>
      </div>
	    <div class="search">
	        <input type="text" name="search" AUTOCOMPLETE=OFF value="" title="search" id="id_search_list">
	    </div>
	</div>
  <ul id="cus_pro_us_listing">
  	
    <% for project in @projects %>
  <li class="tab_list" id="project_<%= project.id.to_s %>"> 
  <div class="tab_list_text">
 <%= link_to project.name, project_path(project) %>
   </div>
  	

 <span class='open_project_update button edit' id="project_update" data-id="<%= project.id %>" data-object="project" title="Edit project">Edit</span>
   
 <div class="dialog_form" id="project_update_<%= project.id %>_form" title="Update project" style="display:none;">
      <%= form_for([@firm, project], :url =>  update_index_path(project)) do |f| %>
      <ul>
      <li><%= f.label :name %><%= f.text_field :name %></li>
      <li><%= f.label :description %><%= f.text_field :description %></li>
      <li><%= f.label :due %><%= f.text_field :due, :value => project.due.strftime("%Y-%m-%d"), :id => "date_project_#{project.id}"  %></li>
       <li><%= f.label :customer_id %><%= f.select(:customer_id, @firm.customers.map {|customer| [customer.name, customer.id]}, {:include_blank => 'None'})%></li>
      <li><%= f.submit 'Save', :class => 'submit' %></li></ul>
      <% end %>
</div>
  <a class="activate_project button" data-object="project" data-id="<%= project.id.to_s %>">Archive</a>

</li>
<% end %>
  </ul>
  </div>
  </div>
</div>
