<div id="project_list_<%= project.id %>">
<div class="info" id="project_info_<%= project.id %>">
  <div class="name_todo"><%= link_to truncate_string(project.name), project_path( project) %></div>
  <div class="project_desc"><%= truncate_string(project.description) %></div>
  <div class="date_all date_format_setter" data-date="<%= project.due %>"></div>
<div class="delete_edit">
<% if can? :manage, project %>
  <span class="open_project_update edit" id="project_update" data-id="<%= project.id %>" data-object="project">edit</span>
<% end %>
<% if can? :archive, project %>
  <a class="activate_projects_no_button" data-object="project" data-id="<%= project.id.to_s %>">Archive</a>
<% end %>
</div>
</div>
<% if can? :manage, project %>
<div class="dialog_form" id="project_update_<%= project.id %>_form" title="Update project" style="display:none;">
      <%= form_for(project) do |f| %>
      <ul>
      <li><%= f.label :name %><%= f.text_field :name %></li>
      <li><%= f.label :description %><%= f.text_area :description %></li>
      <li><%= f.label :due %><%= f.text_field :due, :value => date_format(project.due), :id => "date_project_#{project.id}"  %></li>
      <li><%= f.submit 'Save', :class => 'submit' %></li>
      </ul>
      <% end %>
</div>
<% end %>
</div>