<table class="spendings_table">
	<tr class="spendings_headers">
		<th>
			User
		</th>
		<th>
			Hourly price
		</th>
		<th>
			Logged hours
		</th>
		<th>
			Total
		</th>
	</tr>
	<% ProjectPrice.get_cost_per_user(@klass).each do |u| %>
	<tr>
		<td>
			<%= u[0] %>
		</td>
		<td>

			<%= u[1].try(:round,0)%> <%= current_firm.currency %>
			
		</td>
		<td class="seconds" data-hours="<%= u[2] %>">
			
		</td>
		<td class="user_project_price" >
			<%= u[3].try(:round,0) %> <%= current_firm.currency %>
		</td>	
	</tr>
	<% end %>
	<tr class="spending_total">
		<td>Total</td>
		<td></td>
		<td></td>
		<td><%= ProjectPrice.get_hours(@klass).try(:round,0)%> <%= current_firm.currency %></td>
	</tr>
</table>