<div class="log_menu">
	<div class="timesheet_for_user">Timesheet for <%= @user.name %></div> 
   	<div class="add_some_timesheet">     
       <%= select_tag :user_id, options_from_collection_for_select(@users, "id", "name"), 
  		:id => "timeheet_user_select",  :prompt => 'Select User' %>
   </div>
   <div class="add_some_timesheet_buttons">
       <a id="dialog_log">New log</a> 
       
   </div>
   <div id="month_week_tabs">
   	<ul>	
    	<li><%= link_to "Month", timesheet_month_path(@user, Time.now.to_date) %></li>
   		<li><%= link_to "Week", timesheet_week_path(@user) %></li>
	</ul>   
   </div>
   <div id="dialog_log_form" class="dialog_form" title="Create new log" style="display:none;">
    <%= form_for(Log.new, :url => add_log_timesheet_path ) do |l| %>
		<%= l.hidden_field :user_id, :value => @user.id %>
		<%= render :partial => "logs/log_menu_form", :locals => {:l => l } %>
	<% end %>
   </div>
</div>
