
<% if todo.due_to_day == true %>
<div class="info task_info green" id="todo_<%=todo.id%>" data-due="<%= todo.due.strftime("%Y%j")%>"> 
	<% elsif todo.overdue == true  %>
	<div class="info task_info red" id="todo_<%=todo.id%>" data-due="<%= todo.due.strftime("%Y%j")%>"> 
		<% else %>
	<div class="info task_info" id="todo_<%=todo.id%>" data-due="<%= todo.due.strftime("%Y%j")%>"> 	
		<% end %>
  <% if todo.completed == false %>
  <input class="done_box" id="<%=todo.id%>" type="checkbox"/>
  <% else %>
  <input class="done_box" id="<%=todo.id%>" type="checkbox" checked="checked"/>
  <% end %>
 <div class="name_todo"><%= todo.name %> </div>
   
  <div class="project_todo smaller"><% if todo.project %><%=todo.project.name%><% end %></div>
  <div class="user_todo smaller"><% if todo.user %><%= todo.user.name %><% end %></div>
  
  <div class="date_all"><%= todo.due.strftime('%d.%m.%y')%> </div>
   <div class="delete_edit">
  <span class="open_todo_update edit" id="todo_update" data-id="<%= todo.id %>" data-object="todo">edit</span>
  <%= link_to "delete", todo, :confirm => "Are you sure?", :title => "Delete task", :method => :delete, :class => "delete_todo delete", :remote => true%>
</div>
  </div>
 <div class="dialog_form" id="todo_update_<%= todo.id %>_form" title="Update task" style="display:none;">
 <%= form_for todo do |f| %>
 <li><%= f.label :name %><%= f.text_area :name %></li>
    	<li><%= f.label :user_id %>
    		<select class="searchableTaskCustomer" name="todo[user_id]">
	    		<option value="">Select customer</option>
	          	<% current_firm.users.each do |user| %>
	          	<option value="<%=user.id.to_i%>"<%if todo.user == user%> selected="<%=user.id.to_i%>"<%end%>>
	          		<%= user.name %></option>
	          	<% end %>
	         </select> 
	    </li>
    		  <li><%= f.label :customer_id%>
	    	<select class="searchableTaskCustomer" name="todo[customer_id]">
	    		<option value="">Select customer</option>
	          	<% current_firm.customers.each do |customer| %>
	          	<option value="<%=customer.id.to_i%>"<%if todo.customer == customer%> selected="<%=customer.id.to_i%>"<%end%>>
	          		<%= customer.name %></option>
	          	<% end %>
	         </select> 
	    </li>
       <li><%= f.label :project_id %>
       	<select class="searchableTaskCustomer" name="todo[project_id]">
       		<option value="">Select project</option>
	          	<% current_firm.projects.each do |project| %>
	          	<option value="<%=project.id.to_i%>"<%if todo.project == project%> selected="<%=project.id.to_i%>"<%end%>>
	          		<%= project.name %>
	          		</option>
	          	<% end %>
	         </select>
	    </li>
       <li><%= f.label :due %><%= f.text_field :due, :value => todo.due.strftime("%Y-%m-%d"), :id => "date_todo_#{todo.id}" %></li>
       <li><%= f.submit "Save", :class => 'submit' %></li>
  <% end %>
  </div>
