$("#todo_<%= j( @todo.id.to_s) %>").remove();
$("#roster_todo_<%= j( @todo.id.to_s) %>").remove();
$("#todo_logs_73").remove()
alert("test")
<% if @todo.completed == true %>
if ($("#not_done_tasks").data() !== null ){
	
	 $("#done_tasks").append("<%= j(render(:partial => @todo)) %>");
} 


$(".open_todo_update").UIdialogs_edit_links();
$("#dialog_todo").UIdialogs_links();
$("#dialog_todo_form").UIdialogs();
$(".tasks_percent").replaceWith("<div class='statistics_unit tasks_percent one_number white'><%= done_not_done(@done_todos, @not_done_todos) %></div>")  
<% else %>
if ($("#not_done_tasks").data !== null ){
$("#not_done_tasks").append("<%= escape_javascript(render(:partial => @todo)) %>");
} 
$(".roster_tasks").empty();
$.getScript("/roster_task")
$(".open_todo_update").UIdialogs_edit_links();
$("#dialog_todo").UIdialogs_links();
$("#dialog_todo_form").UIdialogs();
$(".tasks_percent").replaceWith("<div class='statistics_unit tasks_percent one_number white'><%= done_not_done(@done_todos, @not_done_todos) %></div>")
<% end %>
$('.date_format_setter').set_date_format()
$(".spinning").hide();