<div class="list_header_log hor_scroll_200 orange_bgr">
	<div id="form_holder">
		<%if !@log.nil?%>
			<%= render :partial => "stop_tracking", :locals => {:log => @log}%>
		<%else%> 
		     <%= render :partial => "start_tracking", :locals => {:log => @log_new}%>
		<% end %>
	</div>
</div>	
<div id="index_log_header" class="hor_scroll_200">
	<%= render "logs/logs_menu" %>
</div>
<div id="index_logs">
	<div class="listing_logs"> 
		<%= render "logs/list_header" %> 
		<%= render @logs %>
	</div>
</div>
   
