<% if can? :read, log.project %>
<div id="log_<%=log.id%>"> 
 <div id="log_info_<%=log.id%>" class="info" data-log="<%= log.id %>">
 	<div class="gravatar_on_log">
 
 	<%= link_to image(log.user, "image32"),user_path(log.user), :title => "#{log.user.name}" %>
 	</div>
  <div class="event_on_log">
    <%= log.event %>
     </div>
   <div class="date_and_times_on_log">
   	<% if !log.end_time.nil? %>
    <%= log.log_date.strftime('%d.%m.%y') %> 
    <%= ftz(log.begin_time).strftime('%H:%M')%>-<%= ftz(log.end_time).strftime('%H:%M')%>
    <div class="total_log_time"><%= log.total_time %></div>  
    
      </div>
      <div class="pro_tod_cus_emp_on_log">
      	<div class="pro_tod_on_log">
      		<div class="pro_cus_on_log"><% if log.project %><%= link_to log.project.name, project_path(log.project) %><% end %>&nbsp;</div>
 			<div class="tod_emp_on_log"><% if log.todo %><%= link_to log.todo.name, project_path(log.project) %><% end %>&nbsp;</div>
      	</div>
      	<div class="cus_emp_on_log">
      		<div class="pro_cus_on_log"><% if log.customer %><%= link_to log.customer.name, customer_path(log.customer) %><% end %>&nbsp;</div>
 			<div class="tod_emp_on_log"><% if log.employee %><%= link_to log.employee.name, customer_path(log.customer) %><% end %>&nbsp;</div>
      	</div>
      	</div>

 <div class="delete_edit">
 	
  <span class="open_log_update edit" id="log_update" title="Edit log" data-id="<%= log.id %>">edit</span>
  <%= link_to "delete", log, :confirm => "Are you sure?", :title => "Delete log", :method => :delete, :class => "delete_log", :remote => true%>
  </div>
  </div>
  <div class="dialog_form" id="log_update_<%= log.id %>_form" title="Update log" style="display:none;" data-id="<%= log.id %>"></div>
    <% else %>
    Running<%= image_tag("running.gif") %>
    
    </div>
    <div class="pro_tod_cus_emp_on_log">
      	<div class="pro_tod_on_log">
      		<div class="pro_cus_on_log"><% if log.project %><%= log.project.name %><% end %>&nbsp;</div>
 			<div class="tod_emp_on_log"><% if log.todo %><%= log.todo.name %><% end %>&nbsp;</div>
      	</div>
      	<div class="cus_emp_on_log">
      		<div class="pro_cus_on_log"><% if log.customer %><%= log.customer.name %><% end %>&nbsp;</div>
 			<div class="tod_emp_on_log"><% if log.employee %><%= log.employee.name %><% end %>&nbsp;</div>
      	</div>
      	</div>
     </div>
    <% end %> 
</div>
 <% end %>