<!DOCTYPE html>
  <head>
    <title>Squadlink</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="google-site-verification" content="ynxbxSS6ZtwG1WFHyqmWZ5ELrgNRADdhdEFebN11h5k" />
    
  	<%= stylesheet_link_tag  'application' %>	
    <%= javascript_include_tag "application"%>
   	
      <script type="text/javascript" >
  var _cio = _cio || [];
  (function() {
    var a,b,c;a=function(f){return function(){_cio.push([f].
    concat(Array.prototype.slice.call(arguments,0)))}};b=["load","identify",
    "sidentify","track","page"];for(c=0;c<b.length;c++){_cio[b[c]]=a(b[c])};
    var t = document.createElement('script'),
        s = document.getElementsByTagName('script')[0];
    t.async = true;
    t.id    = 'cio-tracker';
    t.setAttribute('data-site-id', '10521ac52be0a2ab8ada');
    t.src = 'https://assets.customer.io/assets/track.js';
    s.parentNode.insertBefore(t, s);
  })();
</script>
<script type="text/javascript" >
  _cio.identify({ 
    id: 'prod_287',          
    email: 'user@domain.com', 
    created_at: 1339438758,   
  });
</script>
    <%= csrf_meta_tag %>
    <link rel="shortcut icon" href="/favicon.png" />
    <%= yield :head %>

  </head>
  <body> 

  	<span class="current_firm_data" data-clockFormat="<%= current_firm.clock_format%>" data-timeFormat="<%= current_firm.time_format %>" data-dateFormat="<%= current_firm.date_format %>" data-current_user_id="<%= current_user.id %>" data-current_user_email="<%= current_user.email %>" data-current_user_created_at="<%= current_user.created_at.to_i %>"></span>
    <div id="centering_main">
      <div id="main">
      <%= render "layouts/header" %>    
        <div id="all_container">
          <% if current_firm.closed %>
            <div class="not_paid_announcement">
              <p style="font-size:15px"><%= t "message.closed_message_html", plan: current_firm.plan.name %></p>
            </div>
          <% end %>
        	<%= yield(:help)%>
          <div id="navigation" class="hor_scroll ver_down_on_help">
          	<ul>
              <li class="navigation" id="home_navi" pos="0"><%= link_to "Home", timesheet_week_path(current_user) %></li>
            	<li class="navigation" id="logs_navi" pos="75"><a href="/logs">Logs</a></li>
            	<li class="navigation" id="projects_navi" pos="150"><a href="/projects">Projects</a></li>
            	<% if can? :read, Customer %>
          	   <li class="navigation" id="customers_navi" pos="225"><a href="/customers">Customers</a></li>
          	  <% end %>
          	  <% if can? :read, User %>
          	   <li class="navigation" id="users_navi" pos="300"><a href="/users">Users</a></li>
          	  <% end %>
              </ul>
          </div>
          <div id="main_container">
            <%= yield %>
          </div>	
          <%= render "roster/roster"%>
        </div>
      </div>  
    </div>
    <div id="footer">
      <p><a href="http://www.squadlink.com" target="BLANK">Squadlink</a></p>
    </div>
    
   
  </body>
</html>