<html xmlns="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <%= yield :head %>
  <title>Squadlink</title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="google-site-verification" content="I_bq1crh7G3M7kTRDZlfO95dwRqXX_TS9y2Jrru6Wl4" />
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45096341-1', 'squadlink.com');
  ga('send', 'pageview');

</script>
  <%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag "registration"%>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tag %>
</head>
<body>  
	<div class="container_registration">
    <div id="flash_messages" style="display:none;"> 
    <span class="flash_notice"><%= flash[:notice] %></span>
    <span class="flash_error"><%= flash[:error] %></span>   
  </div>
    <div id="main_registration">
      <div class="sign_in_sign_up">
      <!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51a7ceb7757fb5c5"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 4
    }, 
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'squadlink'},
        {'service': 'twitter', 'id': 'squadlink'},
        {'service': 'google_follow', 'id': '112855356582663611705/posts'}
      ]
    }   
  });
</script>
<!-- AddThis Smart Layers END -->
      <div id="login_link">

        <span id="sign_in_link">Sign in</span></div>
        <div id="login_link" >
        <%= link_to 'Register', register_path %></div></div>
      <div class="hide login_form">
        <h2 style="margin-left:40px;">Sign in</h2>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="login_form_field"><%= f.text_field :email, placeholder: 'email',id: 'user_email_popup', class: 'text' %></div>
          <div class="login_form_field"><%= f.password_field :password, placeholder: 'password',id: 'user_password_popup', class: 'text' %></div>
          <% if devise_mapping.rememberable? -%>
              <div class="login_form_field checkbox"><%= f.check_box :remember_me, :id => "check" %><%= f.label :remember_me, id: 'check_box_label' %> </div>
          <% end -%>
          <div class="login_form_field"><%= f.submit "Sign in", :class => "submit signup_button", :id => "sign_in" %></div>
        <% end %>
        <div class="devise_links">
        <%= render :partial => "devise/links" %>
        </div>
      </div>
      <div class="magneto front_logo">
        <%= image_tag "squadlink.png"  %>
      </div>
      
		<%= yield %>
    </div>	
  </div>
  <div id="footer_registration">
        
            <div class="footer_col">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><%= link_to "Pricing", pricing_path%></li>
                </ul>
            </div>
            <div class="footer_col">
                <ul>
                    <li><%= link_to "Blog", blogs_path%></li>
                    <li><%= link_to "Terms", termsofservice_path%>/<%= link_to "Privacy Policy", privacy_policy_path%></li>
                    
                </ul>
            </div>
            <div class="footer_col">
                <ul>
                    <li><a href="/guides">Help</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer_col">
                <ul>
                    <li><a href="http://twitter.com/squadlink" target="_blank">Twitter</a></li>
                    <li><a href="http://facebook.com/squadlink" target="_blank">Facebook</a></li>
            </ul>
            </div>
      </div>
    </div>
</body>
</html>
